<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menú
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-searchbar showCancelButton="focus" (search)="search($event.target.value)" (ionCancel)="onCancel()"></ion-searchbar>
  </ion-item>

  <ion-item><ion-label class="ion-text-center">Películas</ion-label></ion-item>
  <ion-item>
    <ion-list>
      <ion-item button *ngFor="let item of (searchResultMovies)" (click)="pasarItem(item)" routerLink="/media-details">
        <ion-thumbnail slot="start">
          <ion-img src={{item.src}}></ion-img>
        </ion-thumbnail>
        <ion-label>{{item.title}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item><ion-label class="ion-text-center">VideoJuegos</ion-label></ion-item>
  <ion-item>
    <ion-list>
      <ion-item *ngFor="let item of (searchResultGames)" (click)="pasarItem(item)" routerLink="/media-details">
        <ion-thumbnail slot="start">
          <ion-img src={{item.src}}></ion-img>
        </ion-thumbnail>
        <ion-label>{{item.title}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
